<div class="p-1 text-sm">
    <p>Product ID: <%= order_item[:product_id] %></p>
    <p>Quantity: <%= order_item[:quantity] %></p>
    <p>Price: $<%= order_item[:price] %></p>
    <p>Total: $<%= (order_item[:price] * order_item[:quantity]).round(2) %></p>
</div>
